<link rel="stylesheet" href="https://www.tocaimoveis.com.br/assets/css/style.css">
<div class="section-type" [ngClass]="{'imageBackground1': select == 1, 'imageBackground2': select == 2, 'imageBackground3': select == 3, 'imageBackground4': select == 4}">
    <div class="container">
        <h2 class="title white">O Imóvel certo para cada tipo de pessoa :)</h2>
        <h3 class="sub-title white">Qual o perfil de imóvel que está buscando hoje?</h3>
        <img class="lazy loaded max-height" src="https://www.tocaimoveis.com.br/assets/images/image.png" data-src="https://www.tocaimoveis.com.br/assets/images/image.png" data-was-processed="true">
        <div class="list-type flex f-wrap row">
            <div class="box col s6 m3" (mouseover)="select=1">
                <a id="residencia" href="javascript:void(0)" class="circle t-bg">
                    <div class="center">
                        <!-- <div class="box-icon">
                            <svg class="icon paramim"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#paramim-ic"></use></svg>
                        </div> -->
                        <div class="title-type">Um Imóvel só para mim</div>
                        <!-- <div class="show">VER TODOS <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#arrow-right-ic"></use></svg></div> -->
                    </div>
                </a>
            </div>
            <div class="box col s6 m3" (mouseover)="select=2">
                <a id="negocio" href="javascript:void(0)" class="circle t-bg">
                    <div class="center">
                        <!-- <div class="box-icon">
                            <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#negocio-ic"></use></svg>
                        </div> -->
                        <div class="title-type">Um Imóvel pronto para você morar</div>
                        <!-- <div class="show">VER TODOS <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#arrow-right-ic"></use></svg></div> -->
                    </div>
                </a>
            </div>
            <div class="box col s6 m3" (mouseover)="select=3">
                <a id="sonho" href="javascript:void(0)" class="circle t-bg">
                    <div class="center">
                        <!-- <div class="box-icon">
                            <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#sonhos-ic"></use></svg>
                        </div> -->
                        <div class="title-type">O Imóvel dos seus sonhos</div>
                        <!-- <div class="show">VER TODOS <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#arrow-right-ic"></use></svg></div> -->
                    </div>
                </a>
            </div>
            <div class="box col s6 m3" (mouseover)="select=4">
                <a id="familia" href="javascript:void(0)" class="circle t-bg">
                    <div class="center">
                        <!-- <div class="box-icon">
                            <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#familia-ic"></use></svg>
                        </div> -->
                        <div class="title-type">Um Imóvel com a mobília ideal</div>
                        <!-- <div class="show">VER TODOS <svg class="icon"><use xlink:href="https://www.tocaimoveis.com.br/assets/images/sprite.svg#arrow-right-ic"></use></svg></div> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>