.section-type .box:first-child .image, .section-type .box:hover .image {
    opacity: 1;
    visibility: visible;
}

.imageBackground1 {
    background-image: url("https://www.tocaimoveis.com.br/assets/images/bg/cena1.png");
}

.imageBackground2 {
    background-image: url("https://www.tocaimoveis.com.br/assets/images/bg/cena2.png");
}

.imageBackground3 {
    background-image: url("https://www.tocaimoveis.com.br/assets/images/bg/cena3.png");
}

.imageBackground4 {
    background-image: url("https://www.tocaimoveis.com.br/assets/images/bg/cena4.png");
}

.section-type .image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: ease-in-out .10s;
}
.section-type .circle {
    border: solid 4px #ffffff;
    background: rgba(255,255,255,.8);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.section-type .list-type .circle::before {
    padding-bottom: 100%;
    content: "";
    display: block;
}
*, ::before, ::after {
    box-sizing: inherit;
}

.section-type .image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: ease-in-out .3s;
    visibility: hidden;
}
body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 991px) {
    .container {
        padding: 0 .625rem;
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 6.938rem;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
*, ::before, ::after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
user agent stylesheet
small {
    font-size: smaller;
}
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background: #fff;
    color: #404041;
    width: 100%;
    overflow-x: hidden;
}
body {
    line-height: 1.4;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}