<div class="jumbotron">
    <h1 class="display">TOCA MORE, MORE É MAIS</h1>
    
  <div class="container">
    <div class="row">
      <div class="col">
          <h6>O que você deseja?</h6>
          <button type="button" class="btn btn-danger">Alugar</button>
          <button type="button" class="btn btn-danger">Comprar</button>
      </div>
      <div class="col">
        <h6>Qual tipo de imóvel?</h6>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Residencial</a>
            <a class="dropdown-item" href="#">Comercial</a>
            <a class="dropdown-item" href="#">Rural</a>
            <a class="dropdown-item" href="#">Terreno</a>
          </div>
      </div>
      </div>
      <div class="col">
        <h6>Faixa de Preço</h6>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">R$200 - R$700 </a>
            <a class="dropdown-item" href="#">R$800 - R$1.500</a>
            <a class="dropdown-item" href="#">R$1.600 - R$2.500</a>
            <a class="dropdown-item" href="#">R$2.600 - R$4.000</a>
            <a class="dropdown-item" href="#">R$4.000 - R$7.000</a>
            <a class="dropdown-item" href="#">R$7.000 - R$12.000</a>
            <a class="dropdown-item" href="#">R$12.000 - R$20.000</a>
          </div>
      </div>
      </div>
      <div class="col">
        <h6>Móveis</h6>
      <ng-multiselect-dropdown
        class="dropdown btn-secondary"
        [placeholder]="'Selecione'"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
      <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
          </button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Geladeira </a>
          </div>
      </div> -->
      
      </div>

      <!-- <div class="col-md-3">
          <div>
            <label for="customRange3">Faixa de preço</label>
            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
          </div>
    </div> -->
    <div class="col">
        <div class="botao">
          <button type="button" class="btn btn-danger">Encontrar</button>
        </div>
    </div>
    <div class="col">
      
    </div>
    </div>
    
  </div>
  
</div>

