ul {
    list-style-type: none;
    } 
.img-200-200 {
        width: auto; 
        height: 250px;
        padding: 10px;
}
h1 {
    font-size: 100%;
}

.espacamento {
    margin:4%;

}
.quadrotexto {
    height: 60px;
}
.espacamentofiltro {
    width: 95%;
    margin: 5%;


}
.titulo {
    margin-bottom:10px;
    font-size: 40px;
    text-align: center;
}
.carousel-item active {
    margin-top: 10px;
}
.caixa {   
    width: 100%;


}
.carouseldiv {
    width: 90%;
    margin-left: 3.75%;    
}

.img-casa{
    height: 150px;
}

.card-deck{
    width: 100%;
    display: flex;
}
.icones {
    display: inline;
    padding: 5%;
    color:	#d9534f;
}