<br>
<div id="carouselExampleControls" class="carousel slide carouseldiv" data-ride="carousel">
  <div class="carousel-inner">
    <h1 class="text-danger titulo">Casas Destaques</h1>
    <div class="carousel-item active">
      
      <div class="card-deck">
        
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa1.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 2
            
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa2.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 3
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 2
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa3.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 4
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 3
          </div>
        </div>
      </div>
      <br>
    </div>
    
    
    <br>
    <div class="carousel-item">
      <div class="card-deck">
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa1.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 1
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 1
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa2.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa3.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 2
          </div>
        </div>
      </div>
      <br>
    </div>
    
    
    <div class="carousel-item">
      <div class="card-deck">
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa1.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 4
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 3
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 4
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa2.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 2
          </div>
        </div>
        <div class="card espacamento border-danger">
          <img class="card-img-top img-200-200" src="../../assets/casa3.jpg" alt="Casas Destaques">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text quadrotexto">Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <button type="button" class="btn btn-danger">Visitar</button>
            <fa-icon [icon]="['fas', 'bed']" class="icones"></fa-icon> 2
            <fa-icon [icon]="['fas', 'warehouse']" class="icones"></fa-icon> 1
            <fa-icon [icon]="['fas', 'toilet']" class="icones"></fa-icon> 1
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<br><br>




<div class="container border border-danger caixa">

    <table>
        <tr>
        <td class="tabela">
            <div class="card espacamentofiltro">
                <img class="card-img-top img-casa" src="../../assets/casa1.jpg" alt="Casas Destaques">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  <button type="button" class="btn btn-danger">Visitar</button>
                </div>
              </div>
        </td>
        <td class="tabela">
            <div class="card espacamentofiltro">
              <img class="card-img-top img-casa" src="../../assets/casa2.jpg" alt="Casas Destaques">
              <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <button type="button" class="btn btn-danger">Visitar</button>

              </div>
            </div></td>
        <td class="tabela">
            <div class="card espacamentofiltro">
              <img class="card-img-top img-casa" src="../../assets/casa3.jpg" alt="Casas Destaques">
              <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <button type="button" class="btn btn-danger">Visitar</button>
              </div>
            </div>
          </td>
        <td class="tabela"> 
          <div class="card espacamentofiltro">
            <img class="card-img-top img-casa" src="../../assets/casa4.jpg" alt="Casas Destaques">
            <div class="card-body">
              <h5 class="card-title">Título do card</h5>
              <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
              <button type="button" class="btn btn-danger">Visitar</button>
            </div>
          </div></td>
        </tr>
        <tr>
            <td class="tabela">
                <div class="card espacamentofiltro">
                    <img class="card-img-top img-casa" src="../../assets/casa5.jpg" alt="Casas Destaques">
                    <div class="card-body">
                      <h5 class="card-title">Título do card</h5>
                      <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                      <button type="button" class="btn btn-danger">Visitar</button>
                    </div>
                  </div>
            </td>
            <td class="tabela">
                <div class="card espacamentofiltro">
                  <img class="card-img-top img-casa" src="../../assets/casa6.jpg" alt="Casas Destaques">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                    <button type="button" class="btn btn-danger">Visitar</button>
                  </div>
                </div></td>
            <td class="tabela">
                <div class="card espacamentofiltro">
                  <img class="card-img-top img-casa" src="../../assets/casa1.jpg" alt="Casas Destaques">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                    <button type="button" class="btn btn-danger">Visitar</button>
                  </div>
                </div>
              </td>
            <td class="tabela"> 
              <div class="card espacamentofiltro">
                <img class="card-img-top img-casa" src="../../assets/casa2.jpg" alt="Casas Destaques">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text quadrotexto-filtro">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  <button type="button" class="btn btn-danger">Visitar</button>
                </div>
              </div></td>
        </tr>
      </table>
      







  
</div>
<br><br><br>

<li *ngFor="let casa of casas">
  <span>{{casa['nome']}}</span>
</li>