.footer .logo{
    margin: 35px 0 30px;
}

.footer .logo img{
    width: 100%;
    max-width: 240px;
}

.footer .info{
    background: rgba(255,255,255,.04);
    padding: 25px 0;
    font-weight: 500;
}
.footer .info .icon{
    position: absolute;
    right: 100%;
    fill: #c9252b;
}
.footer .info .box-info{
    padding: 23px 0;
    position: relative;
}
.footer .info .text{
    font-size: 1rem;
    line-height: 1.38;
}
.footer .content-footer .container{
    max-width: 967px;
}

.footer .copy{
    text-align: center;
    font-size: .901rem;
    margin: 35px 0;
    line-height: 1.69;
}

.footer .copy1{
    text-align: center;
    font-size: .980rem;
    margin: 35px 0;
    line-height: 1.69;
}

.footer{
    background: #332a2f;
    color: #fff;
    padding: 12px 0 0;
    overflow: auto;
}

.footer::after{
    content: "";
    display: block;
}

.footer .info{
    background: rgba(255,255,255,.04);
    padding: 25px 0;
    font-weight: 500;
}

.footer .info .icon{
    position: absolute;
    right: 100%;
    fill: #c9252b;
}

.footer .info .box-info{
    padding: 23px 0;
    position: relative;
}

.footer .info .text{
    font-size: 1rem;
    line-height: 1.38;
}

.footer .content-footer .container{
    max-width: 967px;
}

.footer .logo{
    margin: 35px 0 30px;
}

.footer .logo img{
    width: 100%;
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer .description{
    text-align: center;
    font-size: .813rem;
    margin: 0 0 41px;
    line-height: 1.69;
}
