<footer class="footer">
  <div class="info">
      <div class="container">
          <div class="logo center">
              <a href="">
                  <img src="https://www.tocaimoveis.com.br/assets/images/toca-imobiliaria.png" alt="Toca Imóveis">
              </a>
          </div>
          <div class="description">
              <p>A Toca Imóveis é uma Imobiliária que pouco a pouco foi conquistando um espaço no coração de Marília e sua gente. Com muita humildade, 
                  garra e determinação, fomos ao longo dos anos, nos especializando em captar, entender e realizar sonhos. Além da área bruta, seja esta, um pequeno terreno ou uma 
                  grande fazenda, se esconde aquilo que só o coração consegue enxergar com clareza: a concretização de um grande sonho. E é com esse foco que trabalhamos todos os dias: 
                  Dar vida aos sonhos de milhares de pessoas.
              </p>
          </div>
          <div class="copy1">
                MATRIZ <br>
               14 3402-7000 <br>
               Rua São Luiz, 510, Centro <br>
               Marília - SP
            </div>
          <div class="copy">
              © Toca Administração de Imóveis Ltda - Desde 1989 
          </div>
      </div>
  </div>
</footer>